/*Foundation: Colours, Font, etc.*/

body{
    background-color: rgb(233, 233, 233);
    color: rgb(56, 56, 56);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    
    margin: 0rem;
}

.headerfooter{
    background-color: rgb(81, 81, 81);
    color: antiquewhite;

    padding: 1rem 1rem;  
}

/*header style*/

header h1{
    margin-top: 0;
    
    display:inline;
    
}

nav ul{
    list-style: none;
    padding:0;
}

header li{
    display:inline;
    padding-right: 1.5em; 

}

/*footer style*/

footer p{
    display: inline;
    font-size: 0.5em;
    text-align: middle;
}

footer img{
    display: inline;
    width:1.5em;
    float: right;
    
}

/*Articles*/

.articlebutton{
    background-color: aliceblue;

    margin: 1em;


    border-radius:1em;
    float:left;
}

.articlebutton img{
    width: 10%;
    box-align: center;
}

/*Articles*/