/*Foundation: Colours, Font, etc.*/

body{
    background-color: rgb(233, 233, 233);
    color: rgb(56, 56, 56);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    
    margin: 0rem;
}

/*header style*/

header{
    background-color: rgb(185, 185, 185);
}

header h1{
    margin-top: 0;
}



footer{
    background-color: rgb(185, 185, 185);
}